.uk-form-controls {
    position: relative;
}

.uk-form-controls > input {
    padding-right: 80px;
}

.uk-form-controls > span {
    display: block;
    text-align: right;
    margin: 10px 15px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
}
/*
.uk-input:focus + span {
    color: #1e87f0;
}
*/
.uk-input:invalid + span {
    color: red;
}

.uk-input:valid + span {
    color: #1e87f0;
}

.uk-nav > li > a.menu-login--icon {
    display: flex;
}

input[type=email] {
    -webkit-appearance: none;
}